services:
  tesla_http_proxy:
    image: tesla/vehicle-command:latest
    ports:
      - "8080:8080"
    environment:
      - TESLA_HTTP_PROXY_TLS_CERT=/config/tls-cert.pem
      - TESLA_HTTP_PROXY_TLS_KEY=/config/tls-key.pem
      - TESLA_HTTP_PROXY_HOST=0.0.0.0
      - TESLA_HTTP_PROXY_PORT=8080
      - TESLA_HTTP_PROXY_TIMEOUT=10s
      - TESLA_KEY_FILE=/config/fleet-key.pem
      - TESLA_VERBOSE=true
      - TESLA_HTTP_PROXY_DISABLE_TLS=true
    security_opt:
      - no-new-privileges:true
    volumes:
      - ./config:/config
